.vscode/settings.json
*.pyc
config/baseline.cfg
config/global_guided.cfg
config/utt_guided.cfg
*.cfgc
util/sync_code_from_afs.sh
util/sync_output_to_afs.sh
util/sync_code_from_afs.sh
util/sync_output_to_afs.sh
util/sync_code_from_afs.sh
util/sync_code_from_afs.sh
util/sync_output_to_afs.sh
util/sync_code_from_afs.sh
util/sync_output_to_afs.sh
