absl-py==0.6.1
astor==0.7.1
audioread==2.1.6
backports.functools-lru-cache==1.5
backports.weakref==1.0.post1
bashplotlib==0.6.5
cffi==1.11.5
Click==7.0
cycler==0.10.0
decorator==4.3.0
enum34==1.1.6
Flask==1.1.1
funcsigs==1.0.2
futures==3.2.0
gast==0.2.0
grpcio==1.16.1
h5py==2.8.0
htk-io==0.5
itsdangerous==1.1.0
Jinja2==2.11.1
joblib==0.13.0
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
librosa==0.6.2
llvmlite==0.25.0
Markdown==3.0.1
MarkupSafe==1.1.1
matplotlib==2.2.3
mock==2.0.0
numba==0.40.1
numpy==1.15.4
pbr==5.1.1
protobuf==3.6.1
pycparser==2.19
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2018.7
regex==2019.2.3
resampy==0.2.1
scikit-learn==0.20.0
scipy==1.1.0
singledispatch==3.4.0.3
six==1.11.0
SoundFile==0.10.2
subprocess32==3.5.3
tensorboard==1.12.0
tensorflow==1.12.0
termcolor==1.1.0
tqdm==4.28.1
Werkzeug==1.0.0
