# -*- coding: utf-8 -*-
#/usr/bin/python2

import os


## Take name of this file to be the config name:
config_name = os.path.split(__file__)[-1].split('.')[0]  ## remove path and extension

## Define place to put outputs relative to this config file's location;
## supply an absoluate path to work elsewhere:
topworkdir = os.path.realpath(os.path.abspath(os.path.join(os.path.dirname(__file__), '..', 'work')))

voicedir = os.path.join(topworkdir, config_name)
logdir = os.path.join(voicedir, 'train')
sampledir = os.path.join(voicedir, 'synth')

## Change featuredir to absolute path to use existing features
featuredir = os.path.join(voicedir, 'data') 
coarse_audio_dir = os.path.join(featuredir, 'mels')
full_mel_dir = os.path.join(featuredir, 'full_mels')
full_audio_dir = os.path.join(featuredir, 'mags')
attention_guide_dir = os.path.join(featuredir, 'attention_guides')  ## Set this to the empty string ('') to global attention guide



# data locations:
datadir = '/group/project/cstr2/owatts/data/LJSpeech-1.1/' 


transcript = os.path.join(datadir, 'transcript.csv')
test_transcript = os.path.join(datadir, 'test_transcript.csv')
waveforms = os.path.join(datadir, 'wav_trim')



input_type = 'phones' ## letters or phones
## Combilex RPX plus extra symbols:- 
vocab = ['<PADDING>', '<!>', "<'>", "<'s>", '<)>', '<]>', '<">', '<,>', '<.>', '<:>', '<;>', '<>', '<?>', \
         '<_END_>', '<_START_>', \
         '@', '@@', '@U', 'A', 'D', 'E', 'E@', 'I', 'I@', 'N', 'O', 'OI', 'Q', 'S', 'T', 'U',\
         'U@', 'V', 'Z', 'a', 'aI', 'aU', 'b', 'd', 'dZ', 'eI', 'f', 'g', 'h', 'i', 'j', 'k',\
         'l', 'l!', 'lw', 'm', 'm!', 'n', 'n!', 'o^', 'o~', 'p', 'r', 's', 't', 'tS', 'u', 'v', 'w', 'z']

#vocab = "PE abcdefghijklmnopqrstuvwxyz'.?" # P: Padding, E: EOS.
max_N = 180 # Maximum number of characters. # !!!
max_T = 210 # Maximum number of mel frames. # !!!
multispeaker = [] ## list of positions at which to add speaker embeddings to handle multi-speaker training. [] means speaker dependent (no embeddings). Possible positions: text_encoder_input, text_encoder_towards_end, audio_decoder_input, ssrn_input, audio_encoder_input
n_utts = 200 ## 0 means use all data, other positive integer means select this many sentences from beginning of training set 
random_reduction_on_the_fly = True ## Randomly choose shift when performing reduction to get coarse features.
            


# signal processing
trim_before_spectrogram_extraction = 0    
vocoder = 'griffin_lim'  
sr = 22050  # Sampling rate.
n_fft = 2048  # fft points (samples)
frame_shift = 0.0125  # seconds
frame_length = 0.05  # seconds
hop_length = int(sr * frame_shift)
win_length = int(sr * frame_length)    
prepro = True  # don't extract spectrograms on the fly
full_dim = n_fft//2+1
n_mels = 80  # Number of Mel banks to generate
power = 1.5  # Exponent for amplifying the predicted magnitude
n_iter = 50  # Number of inversion iterations
preemphasis = .97
max_db = 100
ref_db = 20


# Model
r = 4 # Reduction factor. Do not change this.
dropout_rate = 0.05
e = 128 # == embedding
d = 256 # == hidden units of Text2Mel
c = 512 # == hidden units of SSRN
attention_win_size = 3
g = 0.2 ## determines width of band in attention guide
norm = 'layer' ## type of normalisation layers to use: from ['layer', 'batch', None]

## loss weights : T2M
lw_mel = 0.3333
lw_bd1 = 0.3333
lw_att = 0.3333
##              : SSRN
lw_mag = 0.5
lw_bd2 = 0.5


## validation:
validpatt = 'LJ050-' ## sentence names containing this substring will be held out of training. In this case we will hold out 50th chapter of LJ. TODO: mention SD vs. SI
validation_sentences_to_evaluate = 32 
validation_sentences_to_synth_params = 3


# training scheme
restart_from_savepath = []
lr = 0.001 # Initial learning rate.
batchsize = {'t2m': 32, 'ssrn': 32}
validate_every_n_epochs = 1   ## how often to compute validation score and save speech parameters
save_every_n_epochs = 2  ## as well as 5 latest models, how often to archive a model
max_epochs = 4
